.district-tablet-template {
	display: none;
	margin-bottom: 30px;

	.district-item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-right: 1px solid $blue-color;
		border-top: 1px solid $blue-color;
		border-bottom: 1px solid $blue-color;
		padding: 20px 15px;
		justify-content: center;
		width: 50% !important;

		.content {
			display: none;
		}

		&:not(.active) {
			display: none;
		}

		&.active {
			border: 2px solid $blue-color;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding: 20px 10px;
			display: flex;
			flex-direction: column;
			width: 100% !important;
			background-color: $white-color;

			& > div {
				width: 100%;
			}

			.content {
				display: block;
				position: relative;

				img {
					width: 100%;
					margin-bottom: 10px;
				}

				.district-news {
					display: grid;
					gap: 25px;
					max-height: 250px;
					overflow: hidden;
					margin-bottom: 10px;
					position: relative;

					&::after {
						content: "";
						position: absolute;
						background: #020024;
						background: linear-gradient(
							360deg,
							#ffffff -1.73%,
							rgba(255, 255, 255, 0) 30%
						);
						top: 0px;
						right: 0px;
						left: 0px;
						bottom: 0px;
						width: 100%;
						height: 100%;
					}
				}
			}

			.district-preview__title {
				font-family: "Noto Sans";
				font-style: normal;
				font-weight: 700;
				font-size: 23px;
				line-height: 32px;
				text-align: center;
				color: $black-color;
				margin-bottom: 20px;
			}

			.district-preview__see-all > a {
				display: flex;
				justify-content: space-between;
				text-decoration: none;

				span {
					font-family: "Noto Sans";
					font-style: normal;
					font-weight: 500;
					font-size: 12px;
					line-height: 16px;
					color: $black60-color;
					display: block;
				}

				svg {
					display: block;
					max-width: 10px;
					max-height: 10px;
					height: 100%;
					width: 100%;
				}
			}

			.district-preview__caption {
				font-family: "Noto Sans";
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 23px;
				color: $black-color;
				text-align: left;
				display: block;
				margin-bottom: 15px;
			}
		}
	}
	.districts-list {
		width: 50%;

		ul {
			height: 100%;
			display: flex;
			flex-direction: column;

			li {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top: 1px solid $blue-color;
				border-bottom: 1px solid $blue-color;
				border-right: 1px solid $blue-color;
				padding: 0px 10px;

				font-family: "Noto Sans";
				font-style: normal;
				font-weight: 700;
				font-size: 25px;
				line-height: 34px;
				text-align: right;
				color: $black-color;
				filter: none;

				display: flex;
				align-items: center;
				gap: 20px;

				p {
					margin: 5px 0px 5px 0px;
				}

				img {
					max-width: 60px;
				}

				&:not(.active) {
					filter: blur(1px);
					cursor: pointer;
					font-family: "Noto Sans";
					font-style: normal;
					font-weight: 700;
					font-size: 25px;
					line-height: 34px;
					color: $black60-color;
				}

				&:not(.active):hover {
					font-family: "Noto Sans";
					font-style: normal;
					font-weight: 700;
					font-size: 25px;
					line-height: 34px;
					text-align: right;
					color: $black-color;
					filter: none;
				}
			}
		}
	}
}

@media (max-width: 940px) {
	.district-tablet-template {
		.districts-list {
			ul {
				li {
					img {
						display: none;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.district-tablet-template {
		display: flex;
	}
	.district-preview {
		display: none !important;
	}
}

@media (max-width: 859px) {
	.district-preview .district-item.active .content img {
		max-height: 193px;
		object-fit: contain;
	}
}
