.post-topic-bar {
	margin-bottom: 0px 30px;

	.content-exists {
		display: flex;
		align-items: center;
		gap: 5px;

		.content {
			display: flex;
			gap: 5px;
			align-items: center;
		}
	}

	.title {
		margin: 10px 0px;

		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 41px;
		color: $black-color;
	}
}
