.tv-programme {
	.tv-controls {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;

		&__day-select {
			ul {
				display: flex;
				gap: 20px;
			}
		}

		button {
			font-family: "Noto Sans", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 23px;
			color: $white-color;

			padding: 10px 20px;

			background: $blue-color;
			box-shadow: 0px 3px 4px rgba(125, 125, 125, 0.25),
				0px -3px 4px rgba(125, 125, 125, 0.1);
			border-radius: 5px;

			&.no-selected {
				background: $blue60-color;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}

	.text {
		font-family: "Noto Sans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		color: $black-color;
	}
	.text:not(:last-child) {
		margin-bottom: 15px;
	}

	.sub-title {
		font-family: "Noto Sans", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 23px;
		line-height: 32px;
		color: #101010;
		margin: 30px 0px;
		text-align: center;
	}

	.programms-acccordion {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		.accordion-item {
			border: 1px solid $blue-color;
			box-shadow: 0px 3px 4px rgb(112 112 112 / 25%),
				0px -3px 4px rgb(112 112 112 / 15%);
			padding: 10px;
			background: $white-color;

			&__header {
				display: flex;
				justify-content: space-between;
				.info {
					display: flex;
					gap: 10px;

					&__title {
						font-family: "Noto Sans", sans-serif;
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 23px;
						color: #101010;
					}
				}
			}
			&__content {
				.accordion-content-item {
					padding: 15px 0px 10px 0px;

					.time-list {
						font-family: "Noto Sans";
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 23px;
						color: $black-color;
						margin-bottom: 10px;
					}
					.tv-name {
						font-family: "Noto Sans";
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 22px;
						color: $black-color;
					}
				}
				.accordion-content-item:not(:last-child) {
					border-bottom: 1px solid rgba(35, 52, 69, 0.4);
				}
			}
		}
	}
}
